<!DOCTYPE html>
<html>

    <head>
        <title>About Me | LaporBang</title>

    {% include 'meta.html' %}

    </head>

    {% include 'navbar.html' %}

        <section class="section">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <h1 class="subtitle">Kelompok 3</h1>
                        <h3 class="text">LaporBang! merupakan sebuah website
                            untuk pelaporan,
                            mengenai jalan berlubang. User dapat membagikan
                            pengalaman dan keluh kesah,
                            dan saling berinteraksi kepada sesama user. Website
                            ini ditujukan kepada masyarakat Indonesia
                            agar pengalaman perjalan menjadi lebih nyaman dan
                            aman</h3>
                        <br>
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="/static/about/dharma.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-5">Darmaji</p>
                                                <p class="subtitle is-6">@darmaji</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit.
                                            Phasellus nec iaculis mauris.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="/static/about/deva.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-5">Deva
                                                    Pratama</p>
                                                <p class="subtitle is-6">@deva</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit.
                                            Phasellus nec iaculis mauris.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-one-third">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="/static/about/dimas.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <p class="title is-5">Dimas
                                                    budiman</p>
                                                <p class="subtitle is-6">@dimas</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit.
                                            Phasellus nec iaculis mauris.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </body>

</html>