<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home | LaporBang</title>

        {% include 'meta.html' %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
        $(document).ready(function () {
            get_posts();
        });

        const API_KEY = "a301edf26c84eecc073508bc5b9cdf44";

        function getProvinces() {
        axios.get(`https://api.rajaongkir.com/starter/province?key=${API_KEY}`)
            .then(response => {
            const provinces = response.data.rajaongkir.results;
            const selectProvinsi = document.getElementById('provinsi');
            provinces.forEach(province => {
                const option = document.createElement('option');
                option.value = province.province_id;
                option.textContent = province.province;
                selectProvinsi.appendChild(option);
            });
            })
            .catch(error => {
            console.error(error);
            });
        }

        function getRegencies(provinceId) {
        axios.get(`https://api.rajaongkir.com/starter/city?province=${provinceId}&key=${API_KEY}`)
            .then(response => {
            const regencies = response.data.rajaongkir.results;
            const selectKotakab = document.getElementById('kotakab');
            selectKotakab.innerHTML = '<option value="" selected disabled>Pilih Kabupaten/Kota</option>';
            regencies.forEach(regency => {
                const option = document.createElement('option');
                option.value = regency.city_id;
                option.textContent = regency.type + ' ' + regency.city_name;
                selectKotakab.appendChild(option);
            });
            })
            .catch(error => {
            console.error(error);
            });
        }

        // function getDistricts(cityId) {
        // axios.get(`https://kodepos-2.now.sh/subdistrict?city=${cityId}`)
        //     .then(response => {
        //     const districts = response.data.data;
        //     const selectKecamatan = document.getElementById('kecamatan');
        //     selectKecamatan.innerHTML = '<option value="" selected disabled>Pilih Kecamatan</option>';
        //     districts.forEach(district => {
        //         const option = document.createElement('option');
        //         option.value = district.subdistrict_id;
        //         option.textContent = district.subdistrict_name;
        //         selectKecamatan.appendChild(option);
        //     });
        //     })
        //     .catch(error => {
        //     console.error(error);
        //     });
        // }

        function post() {
        const alamat = $("#alamat").val();
        const provinsiId = $("#provinsi").val();
        const kotakabId = $("#kotakab").val();
        const kecamatanId = $("#kecamatan").val();
        const deskripsi = $("#deskripsi").val();
        const today = new Date().toISOString();
        const fileInput = document.getElementById("imageInput");
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append("alamat", alamat);
        formData.append("provinsi", provinsiId);
        formData.append("kotakab", kotakabId);
        // formData.append("kecamatan", kecamatanId);
        formData.append("deskripsi", deskripsi);
        formData.append("date_give", today);
        formData.append("image", file);
        $.ajax({
            type: "POST",
            url: "/posting",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
            $("#modal-post").removeClass("is-active");
            window.location.reload();
            },
        });
        }

        $(document).ready(function () {
        getProvinces();
        $('#provinsi').on('change', function () {
            const provinceId = $(this).val();
            if (provinceId) {
            getRegencies(provinceId);
            }
        });
        // $('#kotakab').on('change', function () {
        //     const cityId = $(this).val();
        //     if (cityId) {
        //     getDistricts(cityId);
        //     }
        // });
        });

    </script>

    </head>
    <body class="has-navbar-fixed-top">

        {% include 'navbar.html' %}

        <section class="section">
            <article class="media">
                <figure class="media-left" style="align-self: center">
                    <a class="image is-32x32"
                        href="/user/{{ user_info.username }}">
                        <img class="is-rounded"
                            src="{{ url_for('static', filename=user_info.profile_pic_real ) }}">
                    </a>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <input id="input-post" class="input is-rounded"
                                placeholder="Lapor Yuk!"
                                onclick='$("#modal-post").addClass("is-active")' />
                            <div class="modal" id="modal-post">
                                <div class="modal-background"
                                    onclick='$("#modal-post").removeClass("is-active")'></div>
                                <div class="modal-content">
                                    <div class="box">
                                        <article class="media">
                                            <div class="media-content is-black">
                                                <div class="field">
                                                    <p
                                                        class="control is-expanded">
                                                        <input class="input"
                                                            type="text"
                                                            id="alamat"
                                                            placeholder="Alamat">
                                                        <select id="provinsi"
                                                            class="input">
                                                            <option value
                                                                selected
                                                                disabled>Pilih
                                                                Provinsi</option>
                                                        </select>
                                                        <select id="kotakab"
                                                            class="input">
                                                            <option value
                                                                selected
                                                                disabled>Pilih
                                                                Kabupaten/Kota</option>
                                                        </select>
                                                        <!-- <select id="kecamatan"
                                                            class="input">
                                                            <option value
                                                                selected
                                                                disabled>Pilih
                                                                Kecamatan</option>
                                                        </select> -->
                                                        <textarea id="deskripsi"
                                                            class="textarea"
                                                            placeholder="Deskripsi"></textarea>
                                                    </p>
                                                    <div
                                                        class="file has-name is-fullwidth">
                                                        <label
                                                            class="file-label">
                                                            <input
                                                                class="file-input"
                                                                type="file"
                                                                name="image"
                                                                id="imageInput"
                                                                accept="image/*">
                                                            <span
                                                                class="file-cta">
                                                                <span
                                                                    class="file-icon">
                                                                    <i
                                                                        class="fa fa-upload"></i>
                                                                </span>
                                                                <span
                                                                    class="file-label">
                                                                    Upload
                                                                    Gambar
                                                                </span>
                                                            </span>
                                                            <span
                                                                class="file-name"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <nav class="level is-mobile">
                                                    <div class="level-left">

                                                    </div>
                                                    <div class="level-right">
                                                        <div class="level-item">
                                                            <a
                                                                class="button is-blue"
                                                                onclick="post()">Buat
                                                                Postingan</a>
                                                        </div>
                                                        <div class="level-item">
                                                            <a
                                                                class="button is-blue is-outlined"
                                                                onclick='$("#modal-post").removeClass("is-active")'>Kembali</a>
                                                        </div>
                                                    </div>
                                                </nav>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <button class="modal-close is-large"
                                    aria-label="close"
                                    onclick='$("#modal-post").removeClass("is-active")'></button>
                            </div>
                        </p>
                    </div>
                </div>
            </article>
        </section>

        <!-- content -->
        <section class="section">
            <div id="post-box" class="container">
                <!-- isi-content -->
            </div>
        </section>
        <!-- end content -->

        {% include 'footer.html' %}

    </body>

</html>