<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- <div class="grid"></div>

    <div class="card" id="${post["_id"]}">
        <div class="card-image">
            <figure class="image is-4by3 skeleton">
                <img src="/static/post/${post["image_filename"]}" alt="">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="header-img is-48x48 skeleton">
                        <img src="/static/${post["profile_pic_real"]}">
                    </figure>
                </div>
                <div class="media-content" data-title>
                    <p class="skeleton skeleton-text title is-4">${post["profile_name"]}</p>
                    <p class="skeleton skeleton-text subtitle is-6">${post["username"]}</p>
                </div>
            </div>

            <div class="content skeleton skeleton-text" data-body>
                ${post["alamat"]}
                <br>
                ${post["provinsi"]}, ${post["kotakab"]}, ${post["kecamatan"]}
                <br>
                <div class="box skeleton skeleton-text">
                    <b>${post["deskripsi"]}</b>
                </div>
                <time datetime="2016-1-1">${time_before}</time>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item is-blue" aria-label="heart" onclick="toggle_like('${post["_id"]}', 'heart')">
                        <span class="icon is-blue"><i class="fa ${class_heart}" aria-hidden="true"></i></span>&nbsp;<span class="like-num">${num2str(post["count_heart"])}</span>
                    </a>
                    <a class="level-item is-blue" aria-label="star" onclick="toggle_star('${post["_id"]}', 'star')">
                        <span class="icon is-small"><i class="fa ${class_star}" aria-hidden="true"></i></span>&nbsp;<span class="like-num">${num2str(post["count_star"])}</span>
                    </a>
                    <a class="level-item is-blue" aria-label="thumbsup" onclick="toggle_thumbsup('${post["_id"]}', 'thumbsup')">
                        <span class="icon is-blue"><i class="fa ${class_thumbsup}" aria-hidden="true"></i></span>&nbsp;<span class="like-num">${num2str(post["count_thumbsup"])}</span>
                    </a>
                </div>
            </nav>
        </div>
    </div> -->

    <template id="card-template">
        <div class="card">
            <div class="header">
                <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                <div class="title" data-title>
                    <div class="skeleton skeleton-text"></div>
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
            <div data-body>
                <div class="skeleton skeleton-text"></div>
                <div class="skeleton skeleton-text"></div>
                <div class="skeleton skeleton-text"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
        </div>
    </template>

</body>

</html>