<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Login | LaporBang</title>

        {% include 'meta.html' %}

        <style>
            body {
                background-image: url("/static/assets/jalan.jpg");
                background-size: cover;
            }
        </style>

    </head>

    <body>
        <br>
        <br>
        <div class="hero-body has-text-centered"
            style="padding-bottom: 1rem; margin: auto">
            <img src="/static/assets/logo.png" style="width: 500px">
            <h1 class="subtitle is-white">Website Pelaporan Jalan Rusak dan
                Berlubang</h>
        </div>

        <section class="section">
            <div class="container">
                <div class="box" style="max-width: 480px; margin: auto">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <div class="field has-addons">
                                    <div class="control has-icons-left"
                                        style="width: 100%">
                                        <input id="input-username" class="input"
                                            type="text"
                                            placeholder="Nama Pengguna" />
                                        <span class="icon is-small is-left"><i
                                                class="fa fa-user"></i></span>
                                    </div>
                                    <div id="btn-check-dup"
                                        class="control is-hidden">
                                        <button class="button is-blue"
                                            onclick="check_dup()">
                                            Cek Ketersediaan
                                        </button>
                                    </div>
                                </div>
                                <p id="help-id" class="help is-hidden">
                                    Nama pengguna harus terdiri 2-10 karakter
                                    alfabet, angka, atau karakter
                                    khusus.
                                </p>
                                <p id="help-id-login" class="help is-danger"></p>

                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input id="input-password" class="input"
                                            type="password"
                                            placeholder="Kata Sandi" />
                                        <span class="icon is-small is-left"><i
                                                class="fa fa-lock"></i></span>
                                    </div>
                                    <p id="help-password" class="help is-hidden">
                                        Kata sandi harus terdiri minmal 8
                                        karakter alfabet, angka, atau karakter
                                        khusus.
                                    </p>
                                </div>
                            </div>
                            <div id="div-sign-in-or-up"
                                class="has-text-centered">
                                <nav class="level is-mobile">
                                    <button class="level-item button is-blue"
                                        onclick="sign_in()">
                                        Masuk
                                    </button>
                                    <button
                                        class="level-item button is-blue is-outlined"
                                        onclick="clearInputs()">
                                        Hapus
                                    </button>
                                </nav>
                                <hr />
                                <h4 class="mb-3">Belum mempunyai akun, silahkkan
                                    mendaftar.</h4>
                                <nav class="level is-mobile">
                                    <button
                                        class="level-item button is-blue is-outlined"
                                        onclick="toggle_sign_up()">
                                        Daftar
                                    </button>
                                </nav>
                            </div>

                            <div id="sign-up-box" class="is-hidden">
                                <div class="mb-5">
                                    <div class="field">
                                        <div class="control has-icons-left"
                                            style="width: 100%">
                                            <input id="input-password2"
                                                class="input" type="password"
                                                placeholder="Konfirmasikan kata sandi" />
                                            <span class="icon is-small is-left"><i
                                                    class="fa fa-lock"></i></span>
                                        </div>
                                        <p id="help-password2" class="help">
                                            Masukkan kembali kata sandi
                                        </p>
                                    </div>
                                </div>
                                <nav class="level is-mobile">
                                    <button class="level-item button is-blue"
                                        onclick="sign_up()">
                                        Daftar
                                    </button>
                                    <button
                                        class="level-item button is-blue is-outlined"
                                        onclick="toggle_sign_up()">
                                        Kembali
                                    </button>
                                    <button
                                        class="level-item button is-blue is-outlined"
                                        onclick="clearInputs()">
                                        Hapus
                                    </button>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </body>

</html>