<!DOCTYPE html>
<html>

<head>
    <title>Berita | LaporBang</title>

    <script>
        $(document).ready(function () {
            // Ketika dokumen siap, panggil fungsi get_posts dengan parameter username dari user_info
            get_news_posts();
        });

        // function news_post() {
        //     const judul = $("#judul").val();
        //     const news_deskripsi = $("#news_deskripsi").val();
        //     const today = new Date().toISOString();
        //     const fileInput = document.getElementById("imageInput");
        //     const file = fileInput.files[0];
        //     const formData = new FormData();
        //     formData.append("judul", judul);
        //     formData.append("news_deskripsi", news_deskripsi);
        //     formData.append("date_give", today);
        //     formData.append("image", file);
        //     $.ajax({
        //         type: "POST",
        //         url: "/news_posting",
        //         data: formData,
        //         contentType: false,
        //         processData: false,
        //         success: function (response) {
        //             $("#modal-post").removeClass("is-active");
        //             window.location.reload();
        //         },
        //     });
        // }
    </script>
</head>

{% include 'meta.html' %}

</head>

{% include 'navbar.html' %}

<body>
    <!-- <section class="section">
        <article class="media">
            <figure class="media-left" style="align-self: center">
                <a class="image is-32x32" href="/user/{{ user_info.username }}">
                    <img class="is-rounded" src="{{ url_for('static', filename=user_info.profile_pic_real )
                        }}">
                </a>
            </figure>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <input id="input-post" class="input is-rounded" placeholder="Tambah Berita"
                            onclick='$("#modal-post").addClass("is-active")' />
                    <div class="modal" id="modal-post">
                        <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
                        <div class="modal-content">
                            <div class="box">
                                <article class="media">
                                    <div class="media-content is-black">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input class="input" type="text" id="judul" placeholder="Judul">
                                                <textarea id="news_deskripsi" class="textarea"
                                                    placeholder="Deskripsi"></textarea>
                                            </p>
                                            <div
                                                    class="file has-name is-fullwidth">
                                                    <label
                                                        class="file-label">
                                                        <input
                                                            class="file-input"
                                                            type="file"
                                                            name="image"
                                                            id="imageInput"
                                                            accept="image/*">
                                                        <span
                                                            class="file-cta">
                                                            <span
                                                                class="file-icon">
                                                                <i
                                                                    class="fa fa-upload"></i>
                                                            </span>
                                                            <span
                                                                class="file-label">
                                                                Upload
                                                                Gambar
                                                            </span>
                                                        </span>
                                                        <span
                                                            class="file-name"></span>
                                                    </label>
                                                </div>
                                        </div>
                                        <nav class="level is-mobile">
                                            <div class="level-left">

                                            </div>
                                            <div class="level-right">
                                                <div class="level-item">
                                                    <a class="button is-blue" onclick="news_post()">Tambahkan Berita</a>
                                                </div>
                                                <div class="level-item">
                                                    <a class="button is-blue is-outlined"
                                                        onclick='$("#modal-post").removeClass("is-active")'>Kembali</a>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close"
                            onclick='$("#modal-post").removeClass("is-active")'></button>
                    </div>
                    </p>
                </div>
            </div>
        </article>
    </section> -->

    <!-- content -->
    <section class="section">
        <div id="post-box" class="container">
            
        </div>
    </section>
    <!-- end content -->

     <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-full is-offset-one">
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news1.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Pemotor Harus
                                        Hati-hati Saat Menikung di Jalan
                                        Punawarman-Ranggagading</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Bandung</b> - Bagi para pengendara yang
                                kerap melintas di Jalan
                                Punawarman-Ranggagading, Kota Bandung agar
                                tetap berhati-hati. Pasalnya
                                terdapat lubang jalan cukup besar yang dapat
                                membahayakan pengendara.
                                <br>
                                <br>
                                Pantauan <b>detikJabar</b>, Selasa
                                (13/6/2023), lubang besar dan menganga itu
                                tepat ada
                                di tikungan yang menghubungkan kedua jalan
                                tersebut. Jika tidak berhati-hati
                                saat menikung di jalan tersebut, pengendara
                                dapat terjatuh.
                                Maka dari itu, bagi pengendara motor harus
                                waspada.
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news2.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Jalan Provinsi
                                        yang Berlubang Parah di Bengkulu
                                        Berubah Jadi
                                        'Danau'</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Bengkulu</b> - Warga Kecamatan Padang
                                Jaya, Kabupaten Bengkulu Utara mengeluhkan
                                jalan menganga bagaikan Danau Dendam Tak
                                Sudah. Lubang tersebut ada pada Jalan Lintas
                                Bengkulu Utara menuju Kabupaten Lebong.
                                Puncak komedinya, terdapat plang warna biru
                                bertuliskan 'Jalan ini kewenangan Provinsi
                                Bengkulu' tepat di tepi jalan tersebut. Bila
                                hujan lebat turun, kawasan ini biasanya
                                terendam banjir dan berubah jadi danau kecil
                                dan sungai. Jalan tak dapat dilalui
                                sehingga pengguna jalan harus mencari jalur
                                alternatif yang lebih jauh.
                                <br>
                                <br>
                                Jalan yang berada di Kecamatan Padang Jaya
                                ini telah belasan tahun mengalami kerusakan.
                                Saat ini, kondisi jalan sering tergenang air
                                akibat saluran irigasi sepanjang jalan yang
                                juga rusak.
                                <br>
                                <br>
                                Salah seorang pengguna jalan bernama Muzamil
                                mengatakan, kondisi jalan makin rusak
                                parah. Meskipun tidak hujan, kondisi jalan
                                hampir selalu digenangi air sehingga
                                pengguna
                                harus ekstra hati-hari, terutama pada malam
                                hari.
                                <br>
                                <br>
                                "Jalur ini merupakan jalur terdekat menuju
                                Kabupaten Lebong. Namun, hampir semua jalan
                                mengalami kerusakan parah. Apalagi bila
                                hujan lama, maka jalan ini tidak bisa
                                dilalui,"
                                kata Muzamil kepada <b>detikSumbagsel</b>,
                                Selasa (30/5/2023).
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news3.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Warga Keluhkan
                                        Jalan Nasional di Gorontalo Rusak,
                                        Pemotor
                                        Rawan Kecelakaan</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Gorontalo</b> - Warga mengeluhkan Jalan
                                Simpang Lima Talaga, Kelurahan Tapa,
                                Kecamatan
                                Sitapana, Kota Gorontalo rusak selama
                                setahun terakhir. Ruas jalan nasional itu
                                penuh lubang dan rawan membuat pengendara
                                motor terjatuh.
                                Pantauan <b>detikcom</b> di lokasi, Senin
                                (29/5/2023), terdapat lubang berdiameter
                                sekitar 90 centimeter di jalan tersebut. Di
                                sepanjang jalan tersebut ada 5
                                lubang dengan diameter cukup besar.
                                <br>
                                <br>
                                Para pengendara tampak berhati-hati saat
                                melintas di jalan tersebut. Warga
                                memperlambat laju kendaraannya saat melewati
                                lubang.
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news4.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Lawak! Jalan Rusak
                                        di Blitar Jadi Ajang Wisata
                                        Jeglongan Sewu
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Blitar</b> - Kabupaten Blitar makin
                                ikonik dengan kondisi jalannya yang rusak.
                                Kali
                                ini adalah jalan kabupaten yang berada di
                                Desa Candirejo, Kecamatan Ponggok yang
                                diviralkan sebagai lokasi wisata Jeglongan
                                Sewu atau wisata seribu lubang oleh
                                warganet.
                                <br>
                                <br>
                                Di akun IG @info_seputaran_blitar diunggah
                                kondisi jalan yang banyak berlubang dan
                                digenangi air. Pemilik akun menyebut lokasi
                                jalan yang rusak dan penuh lubang itu masuk
                                wilayah Desa Candirejo, Kecamatan Ponggok,
                                Kabupaten Blitar.
                                <br>
                                <br>
                                <b>detikJatim</b> pun menuju lokasi yang
                                disebutkan pemilik akun dan memang mendapati
                                kondisi yang sama dengan apa yang
                                digambarkan di medsos tersebut. Warga
                                setempat, Cholil
                                membenarkan jika postingan di medsos itu
                                menjadi bahan perbincangan warga desanya
                                karena
                                viral.
                                <br>
                                <br>
                                "Iya benar jalan ini. Memang kondisinya
                                rusak seperti itu. Kira-kira jalan desa ini
                                yang
                                rusak sepanjang 4 kilometer sampai ke
                                perbatasan Bacem," kata Cholil kepada
                                <b>detikJatim</b>, Sabtu (27/5/2023).

                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news5.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Libur Lebaran
                                        Berlalu, Got Jalan Pondok Indah Ini
                                        Belum
                                        Selesai</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Jakarta</b> - Tanggal merah lebaran sudah
                                usai, namun pengerjaan got di median jalan
                                dekat Pondok Indah Mall ternyata belum
                                selesai. Begini kondisinya.
                                <br>
                                <br>
                                Pengerjaan got ini ada di bawah JPO Pondok
                                Indah Mall, Jl Metro Pondok Indah, Kebayoran
                                Lama, Jakarta Selatan. Got ini dibongkar dan
                                diperbaiki setelah sebelumnya Dinas Bina
                                Marga dan Dinas Sumber Daya Air (SDA) DKI
                                Jakarta mencari-cari sumber genangan yang
                                senantiasa merusak badan jalan, sekitar
                                sebulan lalu.
                                <br>
                                <br>
                                <b>detikcom</b> meninjau kondisinya pada
                                Selasa (25/4/2023) pagi. Di tengah jalan
                                yang
                                ramai ini, got yang dibangun masih
                                menyisakan pekerjaan lanjutan.
                                <br>
                                <br>
                                Karung-karung material bertumpuk tepat di
                                bawah JPO hingga maju ke arah underpass,
                                sekitar 50 meter. Pembongkaran belum
                                sepenuhnya selesai.

                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news6.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Bima Arya Akui
                                        Lubang Dihantam Ojol Sebelum Tewas
                                        Kelalaian
                                        Pemkot Bogor</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Jakarta</b> - Wali Kota Bogor Bima Arya
                                Sugiarto mengunjungi rumah duka driver ojol
                                yang tewas tewas tertancap besi gerobak usai
                                menghantam lubang di Jalan KS Tubun, Kota
                                Bogor, Jawa Barat (Jabar). Dalam kesempatan
                                itu, dia menyampaikan duka citanya.
                                <br>
                                <br>
                                "Kami sampaikan duka cita kepada keluarga,
                                dan kami jadikan ini sebagai peringatan.
                                Saya
                                minta betul-betul semua staf untuk atensi.
                                Setiap sudut kota harus dipastikan tidak
                                boleh membahayakan warga," kata Bima kepada
                                wartawan, Sabtu (18/3/2023).
                                <br>
                                <br>
                                Bima mengatakan bahwa kejadian tersebut
                                sebagai kelalaian pemerintah. Seharusnya
                                tidak
                                ada pembiaran jalan berlubang seperti itu.

                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news7.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Pemotor Kediri
                                        Tewas Terlindas Truk di Jombang Usai
                                        Terjang
                                        Jalan Berlubang</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Jombang</b> - Seorang pengendara sepeda
                                motor Yamaha Aerox bernopol AG 2515 EAS
                                tewas
                                seketika usai terlindas truk gandeng di
                                Jombang. Penyebabnya, pemotor asal Kediri
                                itu
                                terjatuh gara-gara menerjang jalan berlubang
                                di lokasi kecelakaan.
                                <br>
                                <br>
                                Kanit Gakkum Sat Lantas Polres Jombang Iptu
                                Anang Setiyanto menjelaskan, pemotor bernama
                                Sutrisno Bayu Adi (41) melaju dari barat ke
                                timur atau dari arah Kediri menuju Jombang.
                                Bayu sendirian mengendarai sepeda motornya.
                                <br>
                                <br>
                                Ketika sampai di Jalan Raya Dusun Kasemen,
                                Desa Wangkal Kepuh, Gudo, Jombang sekitar
                                pukul 06.00 WIB, Bayu menyalip truk gandeng
                                Hino nopol AG 8193 UB yang melaju di
                                depannya dari sisi kanan. Truk gandeng itu
                                dikemudikan Catur Hadi Prasetyo (31), warga
                                Desa Sitimerto, Pagu, Kediri.
                                <br>
                                <br>
                                "Saat mendahului truk gandeng, korban
                                melewati jalan berlubang sehingga oleng dan
                                terjatuh ke kiri," jelasnya kepada wartawan,
                                Senin (13/3/2023).
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news8.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Antisipasi
                                        Kecelakaan, Jalan Berlubang-Rusak di
                                        Banyuwangi
                                        Diurug</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Banyuwangi</b> - Musim hujan membawa
                                dampak jalan-jalan berlubang. Jalan
                                berlubang
                                itu disebabkan aspal tergerus curah hujan
                                tinggi. Salah satunya jalan berlubang di
                                Desa
                                Sumberagung, Kecamatan Pesanggaran,
                                Banyuwangi.
                                <br>
                                <br>
                                Kepala Desa (Kades) Sumberagung, Vivin
                                Agustin mengaku tingkat kerusakan jalan
                                sudah
                                cukup parah. Banyak lubang menganga. Jika
                                dibiarkan, kedalaman lubang bisa terus
                                bertambah. Terlebih saat ini sedang musim
                                penghujan.
                                <br>
                                <br>
                                "Saat intensitas hujan tinggi, lubang akan
                                terendam air. Itu bisa membuat masyarakat
                                yang melintas terpeleset atau terperosok,"
                                katanya, Rabu (8/3/2023).
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news9.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Bina Marga DKI
                                        Tambal Jalan Berlubang di Kawasan
                                        Harmoni
                                        Jakpus</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Jakarta</b> - Dinas Bina Marga DKI
                                Jakarta menambal jalan berlubang di area
                                lampu
                                lalu lintas atau traffic light Harmoni,
                                Jakarta Pusat. Lubang yang berada di tengah
                                jalan itu ditambal dengan aspal.
                                <br>
                                <br>
                                "Sudah ditindaklanjuti," kata Kepala Dinas
                                Bina Marga DKI Jakarta Hari Nugroho kepada
                                wartawan, Selasa (7/3/2023).
                                <br>
                                <br>
                                Lubang ditambal pada Selasa (7/2) pukul
                                00.00 WIB. Terlihat aspal baru menutup area
                                lubang dengan panjang sekitar 1,5 meret dan
                                lebar 1 meter.
                                <br>
                                <br>
                                Sebelumnya, pantauan <b>detikcom</b> pada
                                Senin (6/3) siang, lubang yang tepatnya
                                berada
                                di depan traffic light Harmoni itu terlihat
                                cukup parah. Di jalan tersebut ada satu
                                lubang besar dan dua lubang kecil.
                                <br>
                                <br>
                                Lubang tersebut berukuran cukup besar. Di
                                sekitar lubang tersebut juga terdapat pasir
                                di
                                atas permukaan jalan.
                                <br>
                                <br>
                                Polisi Lalu Lintas dari Polda Metro Jaya
                                juga sempat mengingatkan para pengendara
                                untuk
                                berhati-hati karena ada jalan berlubang di
                                kawasan Harmoni. Polisi menilai lubang
                                tersebut berbahaya.
                            </div>
                        </div>
                    </div>
                    <div class="card" style="margin-bottom: 20px;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/news/news10.jpeg">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Dugaan Penyebab
                                        Jalan di Bantul Amblas Gede Banget
                                        Bikin Pemotor Terperosok.</p>
                                </div>
                            </div>
                            <div class="content">
                                <b>Bantul</b> - Jalan berlubang di Jalan
                                Ateka Timur, Pedukuhan Tanjung, Kalurahan
                                Bangunharjo, Kabupaten Bantul, membuat
                                pemotor jatuh terperosok ke dalam lubang
                                itu.
                                Pemicu jalan berlubang diduga adanya
                                kebocoran jalur limbah.
                                <br>
                                <br>
                                Hal itu disampaikan Dukuh Tanjung, Paryono.
                                Ia menduga kebocoran jalur limbah menggerus
                                tanah di bawah jalan aspal.
                                <br>
                                <br>
                                "Sehingga menyebabkan tanah berongga atau
                                growong kemudian tidak bisa menahan beban
                                kendaraan yang melintas dan akhirnya amblas,"
                                kata Paryono saat dihubungi wartawan,
                                Sabtu (4/3/2023).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}

</body>

</html>