<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaporBang!</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>

<style>
    * {
        font-family: 'PT Sans', sans-serif;
    }

    body {
        background-color: #cccccc;
        background-size: 100rem;
    }

    .container>#edit-profile {
        margin-right: 20px;
    }

    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #004ABA;
        overflow-x: hidden;
        padding-top: 16px;
    }

    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }
</style>

<!-- <script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script> -->

<body>
    <section>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="/static/LaporBang!.png" height="10px" alt="laporbanglogo" loading="lazy" width="150px"
                        style="width:150px; height: 30px;" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color: white;">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/berita" style="color: white;">Berita</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" style="color: white;">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" style="color: white;">Tentang Kami</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Search form -->
            <form class="input-group w-auto my-auto d-none d-sm-flex">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
                    style="min-width: 125px;" />
                <span class="input-group-text border-0 d-none d-lg-flex" style="margin-right: 10px;"><i
                        class="fa fa-search"></i></span>
            </form>
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items" href="#" id="navbarDropdownMenuAvatar" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/about/dharma.jpg" class="rounded-circle" style="width: 50px; margin-right: 100px;" />
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">My profile</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
            <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </section>

    <section>
        <div class="card col-6 offset-3 card my-5">
            <div class="rounded-top text-white d-flex flex-row bg-primary" style="height:200px;">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="/static/about/dharma.jpg" alt="Generic placeholder image"
                        class="img-fluid img-thumbnail rounded-circle mt-5 mb-2" style="width: 150px; z-index: 1">
                    <a href="/profile-edit" type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark"
                        style="z-index: 1;">
                        Edit profile
                    </a>
                </div>
                <div class="ms-3" style="margin-top: 130px;">
                    <h4>Darmaji</h4>
                </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
                <div class="d-flex justify-content-end text-center py-1">
                    <div>
                        <p class="mb-1 h5">253</p>
                        <p class="small text-muted mb-0">Photos</p>
                    </div>
                    <div class="px-3">
                        <p class="mb-1 h5">1026</p>
                        <p class="small text-muted mb-0">Followers</p>
                    </div>
                    <div>
                        <p class="mb-1 h5">478</p>
                        <p class="small text-muted mb-0">Following</p>
                    </div>
                </div>
            </div>
            <div class="card-body p-4 text-black">
                <div class="mb-5">
                    <p class="lead fw-normal mb-1">About</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                        <p class="font-italic mb-1">Web Developer</p>
                        <p class="font-italic mb-1">Lives in New York</p>
                        <p class="font-italic mb-0">Photographer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="card col-6 offset-3 card my-5" style="width: 50%;">
            <form class="card-body cardbody-color p-lg-5">
                <div class="mb-3">
                    <img src="/static/about/dharma.jpg" class="rounded-circle" style="max-width: 10%" alt="..." />
                    <img src="/static/zhongliwp.jpg" class="img-fluid" alt="...">
                    <h3>Ini Zhongli</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat error quibusdam
                        quasi
                        non explicabo libero exercitationem quo voluptatibus cum. Natus, facilis sunt?
                        Voluptas
                        non harum similique? Ullam fugiat modi repellendus?</p>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                            </path>
                        </svg>1000</a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-right" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z">
                            </path>
                        </svg>1000</a>
                </div>
                <br>
                <div class="mb-3">
                    <img src="/static/about/dharma.jpg" class="rounded-circle" style="max-width: 10%" alt="..." />
                    <img src="/static/zhongliwp.jpg" class="img-fluid" alt="...">
                    <h3>Ini Zhongli</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat error quibusdam
                        quasi
                        non explicabo libero exercitationem quo voluptatibus cum. Natus, facilis sunt?
                        Voluptas
                        non harum similique? Ullam fugiat modi repellendus?</p>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                            </path>
                        </svg>1000</a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-right" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z">
                            </path>
                        </svg>1000</a>
                </div>
                <br>
                <div class="mb-3">
                    <img src="/static/about/dharma.jpg" class="rounded-circle" style="max-width: 10%" alt="..." />
                    <img src="/static/zhongliwp.jpg" class="img-fluid" alt="...">
                    <h3>Ini Zhongli</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat error quibusdam
                        quasi
                        non explicabo libero exercitationem quo voluptatibus cum. Natus, facilis sunt?
                        Voluptas
                        non harum similique? Ullam fugiat modi repellendus?</p>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z">
                            </path>
                        </svg>1000</a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-right" viewBox="0 0 16 16">
                            <path
                                d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z">
                            </path>
                        </svg>1000</a>
                </div>
            </form>
        </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>